@charset "utf-8";
/*ν—¤λ”*/
header{
	width:100%;
	height:100vh;
	background:url(../images/neon.jpg) no-repeat center center;
	background-size:cover;
	position:relative;
}
.scrollStart{
	position:absolute;
	width:100%;
	text-align:center;
	bottom:30px;
	color:#fff;
	text-shadow:0 5px 5px #000;
}
.scrollStart::after{
	content:"";
	display:inline-block;
	width:10px;
	height:10px;
	border-top:2px solid #fff;
	border-right:2px solid #fff;
	transform:rotate(135deg);
	position:absolute;
	left:50%;
	margin-left:-5px;
	animation: scrollBtn 0.5s infinite alternate;
}
.scrollStart img{
	display:block;
	width:70%;
}

@keyframes scrollBtn{
	0% {bottom:-20px;}
	100% {bottom:-8px;}
}
/*ν‘Έν„°*/
footer{
	text-align:center;
	line-height:80px;
	background:#222;
}
footer p{
	color:#fff;
	font-size:10px;
}